html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.comp-container{
    padding: 2%;
    height: 100vh;
    margin: 0px;
    color: white;
}