:root {
  --st-primary-color: #050013;
  --secondary-color: #0B0029;
  --fonts-color: #CBCBCB;
}


html, body {
  height: 100%;;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Caprasimo';
  src: url('./fonts/Caprasimo/Caprasimo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic/Livvic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  font-family: 'Livvic', sans-serif;
}

nav ul {
  display: flex;
}

nav li {
  width: fit-content;
  list-style-type: none;  
  font-size: clamp(1rem, 1.5rem, 2rem);
  cursor:pointer;
  width: max(10%,150px);
  text-align: center;
  font-weight: bold;
}

nav a{
  color: var(--fonts-color);
  text-decoration: none;
  display: block;
  padding: min(0.5rem, 8%);
}

nav a:hover{
  color: black;
  background-color: white;
}

h1 {
  margin: 1% 0 1rem 1%;
  font-family: 'Livvic', sans-serif; 
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.comp-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  margin: 0;
  color: var(--fonts-color);
  padding-top: calc(clamp(1rem, 1.5rem, 2rem) + (min(0.5rem, 8%) * 2));
  background-color: var(--st-primary-color);
}

.Detail-container{
  flex-grow: 1;
  height: max-content;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}
.Detail-container .Detail{
  width: max(40%,400px);

}
  
#Home p{
  font-family: 'Livvic';
  font-size: 1.5rem;
}
#Home .Detail{
  overflow: hidden;
}

.cir-container{
  display: flex;
  justify-self: center;
  width: calc(100% + 40px);
  height: calc(100% + 200px);
  flex-wrap: wrap;
  align-items: flex-end;
}

.cir:first-child{
  margin: 0 0 0 0;
}

.cir{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: solid 3px;
  margin: 0 0 0 -90px;
  animation: bubbleUp linear infinite;
}

.me-nav{
  z-index: 1;
  align-self: start;
  width: 70%;
  height: 14%;
}


.me-nav ul{
  display: flex;
  height: 100%;
  align-items: end;
  gap: 10px;
}

.me-nav li{
  width: fit-content;  
  font-size: 1.5rem;
  font-family: 'Livvic';
  font-weight: bold;
  list-style-type: none;
  background-color: var(--fonts-color);  
  color: var(--secondary-color);
  height: 40px;
  padding: 0 20px 0 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s linear;
}

.me-nav li:hover{
  background-color: var(--st-primary-color);
  border: 3px solid var(--fonts-color);
  padding: 0 17px 0 17px;
  color: var(--fonts-color);
}

li.me-active{
  height: 65px;
  font-size: 2rem;
  cursor: default;
  pointer-events: none;
}

.my-active{
  z-index: 2;
}

.my-folder{
  padding: 50px;
  color: var(--secondary-color);
  position: absolute;
  width: 80%;
  height: 70%;  
  background-color: var(--fonts-color);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Livvic';
}

.my-folder#Profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#Profile img{
  position: absolute;
  top: 25px;
  left: 25px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.spin-border{
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px dashed var(--st-primary-color);
  box-sizing: border-box;
  animation: spin 10s linear infinite;
}

#Profile .img-container{
  position: relative;
  height: 250px;
  width: 250px;
}

#Profile .text {
  width: 60%;
}

#Profile h2{
  margin-bottom: 10px;
  justify-self: center;
  text-decoration: underline;
}



@keyframes bubbleUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateY(-1000%);
      opacity: 0;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}