:root {
  --st-primary-color: #050013;
  --secondary-color: #0B0029;
  --fonts-color: #CBCBCB;
}


html, body {
  height: 100%;;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Caprasimo';
  src: url('./fonts/Caprasimo/Caprasimo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic/Livvic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  font-family: 'Livvic', sans-serif;
}

nav ul {
  display: flex;
}

nav li {
  width: fit-content;
  list-style-type: none;  
  font-size: clamp(1rem, 1.5rem, 2rem);
  cursor:pointer;
  width: max(10%,150px);
  text-align: center;
  font-weight: bold;
}

nav a{
  color: var(--fonts-color);
  text-decoration: none;
  display: block;
  padding: min(0.5rem, 8%);
}

nav a:hover{
  color: black;
  background-color: white;
}

h1 {
  margin: 1% 0 1rem 1%;
  font-family: 'Livvic', sans-serif; 
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.comp-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  margin: 0;
  color: var(--fonts-color);
  padding-top: calc(clamp(1rem, 1.5rem, 2rem) + (min(0.5rem, 8%) * 2));
  background-color: var(--st-primary-color);
}

.Detail-container{
  flex-grow: 1;
  height: max-content;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}
.Detail-container .Detail{
  width: max(40%,400px);

}
  
#Home p{
  font-family: 'Livvic';
  font-size: 1.5rem;
}
#Home .Detail{
  overflow: hidden;
}

.cir-container{
  display: flex;
  justify-self: center;
  width: calc(100% + 40px);
  height: calc(100% + 200px);
  flex-wrap: wrap;
  align-items: flex-end;
}

.cir:first-child{
  margin: 0 0 0 0;
}

.cir{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: solid 3px;
  margin: 0 0 0 -90px;
  animation: bubbleUp linear infinite;
}


@keyframes bubbleUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateY(-1000%);
      opacity: 0;
    }
}